examples/flows.json
[{"id":"de71f972.900f28","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c6b7a84b.f5ba58","type":"sender","z":"de71f972.900f28","name":"","signal":"","filter":"","netbooter":"102b0ccf.9e36eb","x":570,"y":260,"wires":[]},{"id":"2d2a9515.328fea","type":"inject","z":"de71f972.900f28","name":"","topic":"","payload":"pool","payloadType":"str","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":160,"wires":[["c6b7a84b.f5ba58"]]},{"id":"d80e384f.9118e8","type":"inject","z":"de71f972.900f28","name":"","topic":"","payload":"1:t,2:off","payloadType":"str","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":300,"wires":[["c6b7a84b.f5ba58"]]},{"id":"86b14f01.98c2b","type":"inject","z":"de71f972.900f28","name":"","topic":"","payload":"01010101","payloadType":"str","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":420,"wires":[["c6b7a84b.f5ba58"]]},{"id":"bbb24ad6.beffd8","type":"data in","z":"de71f972.900f28","name":"","netbooter":"102b0ccf.9e36eb","x":950,"y":60,"wires":[["3b538720.8626d"]]},{"id":"3b538720.8626d","type":"debug","z":"de71f972.900f28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1330,"y":340,"wires":[]},{"id":"e3833914.ea2f8","type":"receiver","z":"de71f972.900f28","name":"","netbooter":"102b0ccf.9e36eb","filter":"","onlychanges":true,"x":930,"y":420,"wires":[["3b538720.8626d"]]},{"id":"b4d09706.4401c8","type":"receiver","z":"de71f972.900f28","name":"","netbooter":"102b0ccf.9e36eb","filter":"1","onlychanges":false,"x":930,"y":620,"wires":[["3b538720.8626d"]]},{"id":"6dc44b7c.261af4","type":"sender","z":"de71f972.900f28","name":"","signal":"7:t","filter":"","netbooter":"102b0ccf.9e36eb","x":540,"y":580,"wires":[]},{"id":"fe739d96.d6f988","type":"inject","z":"de71f972.900f28","name":"","topic":"","payload":"Anything","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":580,"wires":[["6dc44b7c.261af4"]]},{"id":"4e90a098.44f23","type":"comment","z":"de71f972.900f28","name":"","info":"request regular updates on status of switches and sensors","x":340,"y":120,"wires":[]},{"id":"102b0ccf.9e36eb","type":"netbooter","z":"","name":"Moonbase","address":"netbooter.moonbase.nasa.org","labels":"3:light,6:heat","labeltemp":"","labelamp":"amp","trueword":"","falseword":"","simulation":true,"enforce":false,"statenumber":"8"}]